nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 80px;
    border: 1px solid black;
    min-height: 100px;
    align-self: flex-start
}

nav a {
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    color: black;
}
nav a.at {
    background-color: rgb(49, 115, 32);
    color: rgb(232, 184, 117);
}