.todoHeader {
    width: 100%;
    margin: 5px auto;
    
}

.todoHeader input {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    font-size: 26px;
    box-sizing: border-box;
}
